<button id="show-form"> Create a Student</button>
<div id="form" class="hidden">
  <%= render partial: '/students/form', object: @student %>
</div>
<h2>All Students</h2>
<table class="primary">
  <thead>
    <tr>
      <th> ID </th>
      <th> Name </th>
      <th> Age </th>
      <th> Education </th>
      <th> Actions </th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |c| %>
      <tr>
        <td><%= c.id %></td>
        <td><%= link_to  c.name, c, method: 'GET' %></td>
        <td><%= c.age %></td>
        <td><%= c.education %></td>
        <td class="right-text">
          <%= link_to  "Edit", edit_student_path(c), class: 'button warning', method: 'GET' %>
          <%= link_to  "Delete", c, class: 'button error', method: 'DELETE' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>