<%= form_for( @course ) do |f| %>
  <div class="flex">
    <div class="half">
      <%= label_tag 'name', "Name" %>
      <%= f.text_field(:name) %>
    </div>
    <div class="half">
      <%= label_tag 'hours', "Hours" %>
      <%= f.number_field(:hours) %>
    </div>
  </div>
  <div>
    <%= label_tag 'description', "Description" %>
    <%= f.text_area :description  %>
  </div>
  <div class="flex">
    <div class="off-half form-button  right-text">
      <button > Save </button>
    </div>
  </div>
<% end %>