<button id="show-form"> Create a Course</button>
<div id="form" class="hidden">
  <%= render partial: '/courses/form', object: @item %>
</div>
<h2>All Courses</h2>
<table class="primary">
  <thead>
    <tr>
      <th> ID </th>
      <th> Name </th>
      <th> Description </th>
      <th> Hours </th>
      <th> Actions </th>
    </tr>
  </thead>
  <tbody>
    <% Course.all.each do |c| %>
      <tr>
        <td><%= c.id %></td>
        <td><%= link_to  c.name, c, method: 'GET' %></td>
        <td><%= c.description %></td>
        <td><%= c.hours %></td>
        <td>
          <%= link_to  "Edit", edit_course_path(c), class: 'button warning', method: 'GET' %>
          <%= link_to  "Delete", c, class: 'button error', method: 'DELETE' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>