<article class="card">
  <header>
    <h3>#<%= @course.id %> - <%= @course.name %></h3>
  </header>
  <p><%= @course.description %></p>
  <p><b><%= @course.hours %> hrs</b></p>
  <footer>
    <%= link_to  "Edit", edit_course_path(@course), class: 'button warning' %>
    <%= link_to  "Delete", @course, class: 'button error', method: 'DELETE', remote: true %>
  </footer>
</article>