<!DOCTYPE html>
<html>
  <head>
    <title>PamelasPanel</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="flex">
        <div></div>
        <div class="left-header">
          <%= image_tag  "logo.svg", class: "logo" %>
          <h1>School of Rock</h1>
        </div>
        <div class="right-header">
          <div class="flex center">
            <% if signed_in? %>
              <div>
                <p id="email">Signed in as: <%= current_user.email %></p>
              </div>
              <div>
                <%= button_to 'Sign out', sign_out_path, method: :delete %>
              </div>
            <% else %>
              <div></div>
              <div>
                <%= link_to 'Sign in', sign_in_path, class: "button" %>
              </div>
            <% end %>
          </div>
        </div>
        <div></div>
      </div>
    </header>

    <center>
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>
    </center>
    <div class="flex">
      <div></div>
      <div>
        <%= yield %>
      </div>
      <div></div>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
