<!DOCTYPE html>
<html>
  <head>
    <title>School of Rock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav>
      <div class="flex center">
        <div class="left-header 600-half">
          <a href="/">
          <p class="title">School of Rock</p>
          </a>
        </div>
        <div class="600-half">
          <a href="/" class="button">Home</a>
          <a href="/cohorts" class="button">Cohorts</a>
          <a href="/courses" class="button">Courses</a>
          <a href="/instructors" class="button">Instructors</a>
          <a href="/students" class="button">Students</a>
        </div>
        <div class="right-header 600-one">
          <div class="flex center">
            <% if signed_in? %>
              <div>
                <p id="email">Signed in as: <%= current_user.email %></p>
              </div>
              <div>
                <%= button_to 'Sign out', sign_out_path, method: :delete %>
              </div>
            <% else %>
              <div>
                <%= link_to 'Sign in', sign_in_path, class: "button" %>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </nav>
    <center>
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>
    </center>
    <div class="flex page-body">
      <div></div>
      <div>
        <%= yield %>
      </div>
      <div></div>
    </div>



  </body>
</html>
