<!DOCTYPE html>
<html>
  <head>
    <title>School of Rock</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/picnic">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header>
      <div class="flex">
        <div></div>
        <div class="left-header">
          <%= image_tag  "logo.svg", class: "logo" %>
          <h1>School of Rock</h1>
        </div>
        <div class="right-header">
          <div class="flex center">
            <% if signed_in? %>
              <div>
                <p id="email">Signed in as: <%= current_user.email %></p>
              </div>
              <div>
                <%= button_to 'Sign out', sign_out_path, method: :delete %>
              </div>
            <% else %>
              <div></div>
              <div>
                <%= link_to 'Sign in', sign_in_path, class: "button" %>
              </div>
            <% end %>
          </div>
        </div>
        <div></div>
      </div>
    </header>

    <center>
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>
    </center>
    <div class="flex">
      <div></div>
      <div>
        <%= yield %>
      </div>
      <div></div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <footer class="footer">
      <div class="flex">
        <div></div>
        <div>
          <h2>Records:</h2>
          <a href="/" class="button">Home</a>
          <a href="/cohorts" class="button">Cohorts</a>
          <a href="/courses" class="button">Courses</a>
          <a href="/instructors" class="button">Instructors</a>
          <a href="/students" class="button">Students</a>
        </div>
        <div></div>
      </div>
    </footer>

  </body>
</html>
